[submodule "zsh"]
	path = zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/spf13/spf13-vim
[submodule "tag-emacs/emacs.d"]
	path = tag-emacs/emacs.d
	url = http://github.com/syl20bnr/spacemacs
